      <button mat-raised-button color="primary" (click)="addBook() ">Add new book</button>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element;  let i = index"> {{element.id}} </td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> title </th>
          <td mat-cell *matCellDef="let element" class="table-description"> {{element.title}} </td>
        </ng-container>

        <!-- author column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef > author </th>
          <td mat-cell *matCellDef="let element" class="table-description"> {{element.author}} </td>
        </ng-container>

        <!-- price column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> price </th>
          <td mat-cell *matCellDef="let element" class="table-description"> {{element.price}} </td>
        </ng-container>

        <!-- description column  -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> description </th>
          <td mat-cell *matCellDef="let element" class="table-description"> {{element.description}} </td>
        </ng-container>


        <!-- Image column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef> image </th>
          <td mat-cell *matCellDef="let element" class="table-description"><img src="{{element.img}}" width="100"
              alt="books-img"></td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <div class="button__group">
              <button mat-raised-button color="primary" (click)="openDialogEdit(element)">Edit</button>
              <button class="button__group-delete" mat-raised-button color="warn"
                (click)="openDialogDelete(element, i)">Delete</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <div class="button-group" *ngIf="selection.hasValue()">
        <button class="button__group-delete" mat-raised-button color="warn" (click)="deleteRows()">Delete</button>
      </div>