<h2 mat-dialog-title>Are you sure? </h2>
<mat-dialog-content class="mat-typography">
  <h3>Edit form:</h3>
</mat-dialog-content>
<div class="profile-container">
  <div class="avatar"><img [src]="currentUserImg" height="200"></div>
  <div class="change-avatar">
    <span style="color:red;" *ngIf="message"></span>
    <input #file type="file" accept='image/*' (change)="preview(file.files)" />
  </div>

  <mat-card-content class="information">
    <mat-card-title>Information: </mat-card-title>
    <form form [formGroup]="angForm" class="information-field">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="email" value="{{data.email}}" formControlName="email">
      </mat-form-field>
    </form>
    <form form [formGroup]="angForm" class="information-field">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="password" value="{{data.password}}" formControlName="password">
      </mat-form-field>
    </form>
    <form form [formGroup]="angForm" class="information-field">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="age" formControlName="age" value="{{data.age}}">
      </mat-form-field>
    </form>
    <form form [formGroup]="angForm" class="information-field">
      <mat-form-field class="example-full-width">

        <input matInput placeholder="telephone" formControlName="telephone" value="{{data.telephone}}">
      </mat-form-field>
    </form>
  </mat-card-content>
</div>

<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close mat-raised-button color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button color="primary">Sumbit</button>

</mat-dialog-actions> 
