<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Angular 7 Search using Debounce in RXJS 6.X.X</h1>
      <input type="text" #movieSearchInput class="form-control" placeholder="Type any movie name" />

    </div>
  </div>
  <div class="row" *ngIf="isSearching">
    <div class="col-12 text-center">

      <h4>Searching ... </h4>

    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">

      <div class="col-12 text-center">
        <div class="alert alert-danger" role="alert">
          {{apiResponse['Error']}}

        </div>
      </div>

    </ng-container>
    <ng-template #elseTemplate>


      <div class="col-3" *ngFor="let movie of apiResponse['Search']">

        <div class="card" style="margin:5px;">
          <img class="card-img-top" src="{{movie['Poster']}}">
          <div class="card-body">
            <h5 class="card-title">{{movie['Title']}}</h5>
            <p class="card-text">Year: {{movie['Year']}}</p>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</div>
<div *ngFor="let book of goodsData">
  <mat-card class="card__goods">
    <mat-card-header class="card__goods-title">
      <div class="title__img">
        <img src="{{ book.img }}" alt="book image">
      </div>
      <div class="title_name">
        <h3>{{ book.title }}</h3>
        <h5>{{ book.author }}</h5>

      </div>
    </mat-card-header>
    <mat-card-content class="card__goods-content">
      <p>
        {{book.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card__goods-buttons">
      <div class="card__goods-price">
        <p>
          Price: {{book.price}}
        </p>
      </div>
      <button mat-raised-button color="primary" (click)="bookDetails(book)">Details</button>
      <button class="addButton" mat-raised-button color="warn" (click)="addToCart(book)">Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>