<ul class="nav__menu">
  <div class="nav__meni-left">
    <li><a [routerLink]="['/']">Main Page</a></li>
  </div>
  <li>
    <ul class="nav__menu-right">
      <li *ngIf="this.service.AuthStatus"><a [routerLink]="['/login']">Log in</a></li>
      <li *ngIf="this.service.AuthStatus"><a [routerLink]="['/register']">Register</a></li>
      <li *ngIf="!this.service.AuthStatus">
        <a [routerLink]="['/profile']">Hi {{ currentUser }} !</a>
      </li>
      <!-- && this.service.authUserRights === true -->
      <li *ngIf="!this.service.AuthStatus && this.userRights">
        <a [routerLink]="['/admin-panel']">Admin panel</a>
      </li>

      <li *ngIf="!this.service.AuthStatus"><a [routerLink]="['/']" (click)="logOut()">Logout</a></li>
      <li *ngIf="!this.service.AuthStatus"><a [routerLink]="['/profile']">
          <div class="ava"><img [src]="currentUserImg" alt=""></div>
        </a>
      </li>
      <li *ngIf="!this.service.AuthStatus">
        <div class="cart">
          <button mat-button (click)="openCart()" matBadge="{{this.sumOfOrder}}" matBadgeColor="warn">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/10/53/shopping-cart-304843__340.png" alt=""
              width="30" >
          </button>
        </div>
      </li>
    </ul>
  </li>

</ul>

<router-outlet></router-outlet>
