<mat-card class="form-container" *ngIf="loadingDataSpinner === false">
    <mat-card-title>
      Please register in our store "{{ title }}" !
    </mat-card-title>

  <form [formGroup]="angForm" novalidate class="form-container-fields">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error
        *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
        class="alert alert-danger">
        <mat-error *ngIf="angForm.controls['email'].errors.required">
          email is required.
        </mat-error>
        <mat-error *ngIf="angForm.controls['email'].errors.email">
          incorrect email
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)">
        <mat-error *ngIf="angForm.controls['password'].errors.required">
          password is required.
        </mat-error>

        <mat-error *ngIf="angForm.controls['password'].errors.minLength">
          password must be at least 8 characters long.
        </mat-error>
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput placeholder="Confirm password" formControlName="password">
    </mat-form-field>
    <div
      *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['password'].errors.required">
        this field is required.
      </div>
      <div *ngIf="angForm.controls['password'].errors.minLength">
        password must be at least 8 characters long.
      </div>
    </div> -->

    <mat-form-field>
      <input matInput placeholder="Age" formControlName="age">
      <mat-error *ngIf="angForm.controls['age'].invalid && (angForm.controls['age'].dirty || angForm.controls['age'].touched)">
        <mat-error *ngIf="angForm.controls['age'].errors.required">
          age is required.
        </mat-error>
        <mat-error *ngIf="angForm.controls['age'].errors.min">
          your age may be more than 18 :)
        </mat-error>
      </mat-error>
  </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telephone" formControlName="telephone">

    <mat-error
      *ngIf="angForm.controls['telephone'].invalid && (angForm.controls['telephone'].dirty || angForm.controls['telephone'].touched)"
      class="alert alert-danger">
      <mat-error *ngIf="angForm.controls['telephone'].errors.required">
        telephone is required.
      </mat-error>
    </mat-error>
  </mat-form-field>
  <!-- [disabled]="angForm.pristine || angForm.invalid" -->
    <button (click)="onSubmit()" type="submit" [disabled]="angForm.pristine || angForm.invalid" mat-raised-button
      color="primary">
      Submit
    </button>

  </form>
  <br />
  <!-- <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p> -->
</mat-card>

  <div class="row" *ngIf="loadingDataSpinner === true">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
